PUID=1000
PGID=1000
#valid TZs at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Etc/UTC
URL=domain.duckdns.org
SUBDOMAINS=wildcard
VALIDATION=duckdns
CERTPROVIDER= #optional
DNSPLUGIN= #optional
DUCKDNSTOKEN=abc123ab-c123-abc1-23ab-c123abc123ab
EMAIL=your@email.com
ONLY_SUBDOMAINS=false
EXTRA_DOMAINS=y
STAGING=false
