<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cache - FixYouTube</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text fill=%22white%22 y=%22.9em%22 font-size=%2290%22>🛠</text></svg>">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container" style="max-width: 35rem">
        <hgroup>
            <h1>Cached videos</h1>
            <a href="/">← Home</a>
        </hgroup>

        <section>
            <ul>
                {{ range . }}
                <li>
                    <a href="/{{ .VideoID }}">{{ .Title }}</a>
                    <br />
                    <small>{{ .Author }}</small>
                </li>
                {{ end }}
            </ul>
            <hr>
            <small><a href="https://github.com/BiRabittoh/fixyoutube-go" target="_blank">Source code available in
                    GitHub!</a></small>
            <br>
            <small>• YouTube is a trademark of Google LLC. This app is not affiliated with Google LLC.</small>
        </section>
    </main>
</body>

</html>