<!DOCTYPE html>
    ███████ ██ ██   ██ ██    ██   ███   ██   ██ ██████ ██   ██ ██████  ███████ 
    ██      ██  ██ ██   ██  ██  ██   ██ ██   ██   ██   ██   ██ ██   ██ ██      
    █████   ██   ███     ████   ██   ██ ██   ██   ██   ██   ██ ██████  █████   
    ██      ██  ██ ██     ██    ██   ██ ██   ██   ██   ██   ██ ██   ██ ██      
    ██      ██ ██   ██    ██      ███     ███     ██     ███   ██████  ███████ 
    ██
    ██  A better way to embed YouTube videos on Telegram (inspired by FixTweet).
    ██  
<html lang="en"><head>
    <link rel="canonical" href="https://www.youtube.com/watch?v={{ .VideoId }}" />
    <meta http-equiv="refresh" content="0;url=https://www.youtube.com/watch?v={{ .VideoId }}" />
    <meta property="og:url" content="https://www.youtube.com/watch?v={{ .VideoId }}" />
    <meta property="theme-color" content="0000FF" />
    <meta property="twitter:card" content="player" />
    <meta property="twitter:site" content="{{ .Uploader }}" />
    <meta property="twitter:creator" content="{{ .Uploader }}" />
    <meta property="twitter:title" content="{{ .Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:site_name" content="FixYouTube ({{ .Uploader }})" />
    <meta property="twitter:image" content="0" />
    <meta property="twitter:player:stream:content_type" content="video/mp4" />
    {{ if .Url }}
    <meta property="og:video" content="/proxy/{{ .VideoId }}" />
    <meta property="og:video:secure_url" content="/proxy/{{ .VideoId }}" />
    <meta property="og:video:duration" content="{{ .Duration }}">
    <meta property="og:video:type" content="video/mp4" />
    {{ end }}
</head><body></body></html>
